@import "tailwindcss";

@font-face {
  font-family: 'JazzFont';
  src: url('/fonts/JazzOneDemoRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Berdiolla';
  src: url('/fonts/Berdiolla.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.text-gold {
  color: purple; /* Gold Color */
}
